.header {
  margin: .4em;
  padding: 1em;
  border-radius: 6px;
  text-align : center;
}

.url {
  width: 25em;
  background-color: #ececec;
  padding: 10px 10px 10px 10px;
  border: SOLID 1px #000000;
}

.url:focus {
  outline: none;
}
