.sensor {
  flex: 1; /* occupe la largeur restante */
  text-align : center;
}

.sensorTitle {
  width: 90%;
  margin: auto;
  padding-top: .44em;
  padding-bottom: .44em;
  background-color: #c3aee0;
  border: SOLID 1px #000000;
}

.title {
  margin-left: 5em;
  font-weight: bold;
  vertical-align:top;
  font-size: 1.5em;
  float: left;
}

.value {
  margin-left: 1em;
  font-size: 4em;
}
